.work {
  max-width: 100%;

  img {
    width: 40%;
  }
}

.work__para {
  color: #1c1c1c;
  word-spacing: -0.7px;
  letter-spacing: -1.5px;
  line-height: 51px;
  margin: 7rem auto 8rem auto;
  width: 65%;
  font-size: 42px;
  text-rendering: optimizeLegibility;
  text-align: center;
}

.work__line {
  &::before {
    content: url(../../Assets/Svg/home-underline.svg);
    position: absolute;
    width: 18.8%;
    top: 45.25rem;
    transform: rotate(1.7deg);
    visibility: hidden;
  }
}

.work__images {
  display: flex;
}

.work__statement {
  color: #1c1c1c;
  word-spacing: -0.7px;
  letter-spacing: -1.5px;
  line-height: 51px;
  margin: 7rem auto 8rem auto;
  width: 65%;
  font-size: 50px;
  text-rendering: optimizeLegibility;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .work__para {
    word-spacing: -1px;
    letter-spacing: -1px;
    line-height: 40px;
    margin: 7rem auto 8rem auto;
    width: 95%;
    font-size: 35px;
    text-rendering: optimizeLegibility;
    text-align: center;
  }
  .work__line {
    &::before {
      content: url(../../Assets/Svg/home-underline.svg);
      position: absolute;
      width: 57%;
      top: 705px;
      transform: rotate(1.7deg);
    }
  }
  .work__statement {
    color: #1c1c1c;
    word-spacing: -1px;
    letter-spacing: -1px;
    line-height: 45px;
    margin: 7rem auto 8rem auto;
    width: 95%;
    font-size: 35px;
    text-rendering: optimizeLegibility;
    text-align: center;
  }
}

@media screen and (max-width: 1280px) {
  .work__line {
    &::before {
      content: url(../../Assets/Svg/home-underline.svg);
      position: absolute;
      width: 28%;
      top: 645px;
      transform: rotate(1.7deg);
    }
  }
}
@media screen and (min-height: 790px) {
  .work__line {
    &::before {
      content: url(../../Assets/Svg/home-underline.svg);
      position: absolute;
      width: 25%;
      top: 960px;
      transform: rotate(1.7deg);
    }
  }
}
@media screen and (max-width: 420px) {
  .work__line {
    &::before {
      content: url(../../Assets/Svg/home-underline.svg);
      width: 6%;
      top: 60px;
      left: 6px;
      transform: rotate(1.7deg);
      visibility: hidden;
    }
  }
}
